<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:fragment="footer" class="footer navbar-fixed-bottom">
    <div class="container">
        <span class="navbar-text"> Tweet </span>
        <span  sec:authorize="isAuthenticated()" class="navbar-text">
            Logged user: <span sec:authentication="name"/>
            <a th:href="@{/ui/logout}">Log Out</a>
        </span>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>