h1 {
    color: #337ab7;
}

.container_main {
    width: 40em;
}

.btn-mrg-left {
    margin-left: 3em;
}

.navbar-light {
    background-color: #e3f2fd;
}

.text-divider{margin: 2em 0; line-height: 0; text-align: center;}
.text-divider span{background-color: white; padding: 1em; font-weight: bold; color: #337ab7}
.text-divider:before{ content: " "; display: block; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #f7f7f7;}